<%= form_for @user do |f| %>
  <div>
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <div class="input-field col s12">
    <%= f.select :access_level, ["Student", "Teacher"]%>
<label>Access Level</label>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $('select').material_select();
});
</script>
  <div>
    <%= f.submit "Sign Up", class:"waves-effect waves-light btn" %>
  </div>
<% end %>
