<%= form_for @user do |f| %>
  <div>
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <div>
    <%= f.select :access_level, ['Student','Teacher'] %>
  </div>

    <%= f.submit "Sign Up" %>
<% end %>
