<%= form_for @teacher, url: "/teacher/edit", method: "patch" do |f| %>
  <div>
    <%= f.text_field :first_name, placeholder: "First Name" %>
  </div>
  <div>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <%= f.submit "Update Information" %>
<% end %>
