<%= form_for @course, url: "/course", method: "post" do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Course Name" %>
  </div>
  <div>
    <%= f.text_field :number, placeholder: "Course Number" %>
  </div>
  <div>
    <%= f.hidden_field :teacher_id, :value => @teacher.id %>
  </div>
  <%= f.submit "Create Course!" %>
<% end %>
