<h1>made it</h1>
<%= @course.name%> <br>
<% @assignments.each do |assignment| %>
  <%=link_to("#{assignment.name}", assignment_show_path)%> <br>
<% end %>
<%= link_to("New Assignment", new_assignment_path, class:"waves-effect waves-light btn")%> <br>
<%= form_tag all_students_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :first_name, params[:first_name] %>
    <%= submit_tag "Search", :first_name => nil, class:"waves-effect waves-light btn purple" %>
  </p>
<% end %>
